*
{
  padding: 0%;
  margin: 0%;
}

@media all and (max-width: 480px)
@media all and (max-width: 480px)
/*header*/
/*---header.css responsive ---*/

<header>
            <img src="./images/mexico/logo_voyage.png" alt="logos" class="index__header--logo" />
            <input type="checkbox" aria-hidden="true" class="trigger">
        <nav class="menu">
            <a href="index.html">Accueil</a>
            <a href="mexico.html">Mexique</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
* {
  box-sizing: border-box;
}

:root {
  --hlogo: 3rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 10rem;
}

.trigger {
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  z-index: 3;
  opacity: 1;
}
.trigger:before {
  font-size: 3rem;
  text-align: center;
  content: "=";
  color: black;
  transition: all 0.3s;
  line-height: 1.8rem;
  width: 2rem;
  height: 2rem;
  display: block;
  opacity: 1;
  position: absolute;
}
.trigger:checked:before {
  border-color: #fff;
  content: "+";
  transform: rotate(-45deg);
  color: pink;
}

@keyframes anilogo {
  from {
    transform: translateY(0);
  }
  16% {
    transform: translateY(0);
  }
  19% {
    transform: translateY(-1rem);
  }
  20% {
    transform: translateY(0);
  }
  23% {
    transform: translateY(-1rem);
  }
  25% {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}
.logo {
  align-self: start;
  z-index: 1;
  position: fixed;
  top: 0;
  display: grid;
  align-content: center;
  height: var(--hlogo);
  width: 6rem;
  padding: 1rem;
}
.logo .c1 {
  animation: anilogo 4s infinite ease-in-out;
  transform-origin: 12px 40px;
}
.logo__svg {
  fill: pink;
  width: 100%;
  height: 2rem;
}

.menu {
  transition: all 1s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0vw;
  right: -100vw;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
  z-index: 1;
}
.menu a {
  color: #fff3;
  transition: all 0.5s;
  margin: 1rem;
  text-decoration: none;
   left: 0vw;
  right: -100vw;
  font-size: 2em;
}
.menu a:first-child {
  margin-top: 5rem;
}

.trigger:checked ~ .menu {
  left: 0;
  right: 0;
  background-color: #4891a3;
  transition: right 1.2s ease-in-out, background 1s ease-in-out, left 1s ease-in-out;
}

.trigger:not(:checked) ~ .menu {
  left: 100vw;
  right: 0;
  background-color: #1a1a33;
  visibility: hidden;
}

.trigger:checked ~ .menu a {
  transition: color 0.5s 1s;
  color: black;
  font-variation-settings: "wght" 300;
}


/*---header.css---*/

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 0;
  background-color: white;
}

header img{
  width: 7%;
}

a:visited {
  color: black;
}
a:active {
  color: rgb(0, 255, 242);
}
a:hover {
 color: rgb(0, 255, 242);
}
a:visited {
      color: black;
    }
a:active {
      color: rgb(0, 255, 242);
    }
a:hover {
     color: rgb(0, 255, 242);
    }
a{
  text-decoration: none;
  outline: none;
  color: black;
}
/*----Sous-menu----*/

#primary_nav_wrap{
  margin-top:30px;
  margin-right: 200px;
}

#primary_nav_wrap ul
{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a
{
  display:block;
  color:black;
  text-decoration:none;
  padding:0 2px;
  margin-right: 150px;
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  background:white
}

#primary_nav_wrap ul li a:hover
{
  color: #4891a3;
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:white;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%
}

#primary_nav_wrap ul li:hover > ul
{
  display:block
}
/* boite */

/* ===================================== 
   Grid & Flexbox Layout
======================================== */

.main-content {
  width: 95%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}

.card1 {
  display: flex;
  flex-direction: column;
}

.card2 {
  display: flex;
  flex-direction: column;
}

.card3 {
  display: flex;
  flex-direction: column;
}

.card4 {
  display: flex;
  flex-direction: column;
}

.card5 {
  display: flex;
  flex-direction: column;
}

.card6 {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: auto;
}

/* ===================================== 
   Page Styles
======================================== */
* {
	box-sizing: border-box;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

main 
{
  position: static;
}
a {
  color: #232323;
  text-decoration: none;
}
h1 {
  font-family: 'Bree Serif', serif;
  text-align:center;
}
p {
  color: #fff; 
  padding:0;
  margin:0;
}
.main-content {
  margin: 2em auto;
}
.card1 {
  position:relative;
  padding: 2em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  background: #638EF4;
  z-index:1;
}
.card1 h3 {
  color: #fff; 
  margin: 0.35em 0 0;
  line-height: 2rem;
  font-weight:500;
}

.card2 {
  position:relative;
  padding: 2em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  background: #638EF4;
  z-index:1;
}
.card2 h3 {
  color: #fff; 
  margin: 0.35em 0 0;
  line-height: 2rem;
  font-weight:500;
}

.card3 {
  position:relative;
  padding: 2em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  background: #638EF4;
  z-index:1;
}
.card3 h3 {
  color: #fff; 
  margin: 0.35em 0 0;
  line-height: 2rem;
  font-weight:500;
}

.card4 {
  position:relative;
  padding: 2em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  background: #638EF4;
  z-index:1;
}
.card4 h3 {
  color: #fff; 
  margin: 0.35em 0 0;
  line-height: 2rem;
  font-weight:500;
}

.card5 {
  position:relative;
  padding: 2em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  background: #638EF4;
  z-index:1;
}
.card5 h3 {
  color: #fff; 
  margin: 0.35em 0 0;
  line-height: 2rem;
  font-weight:500;
}

.card6 {
  position:relative;
  padding: 2em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
  background: #638EF4;
  z-index:1;
}
.card6 h3 {
  color: #fff; 
  margin: 0.35em 0 0;
  line-height: 2rem;
  font-weight:500;
}
.line {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/449443/line.png);
    background-size: 20%;
	height:20px;
    background-repeat: no-repeat;
    background-position: left 0; 
}
/* ===================================== 
   Animation 
======================================== */

/*carte 1*/
.card1::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-image: url(../images/canada/niagarajpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    transition: transform 0.3s;
}
.card1:hover::after {
	 transform: scaleY(1);
}

/*carte 2*/
.card2::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-image: url(../images/canada/poutine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    transition: transform 0.3s;
}
.card2:hover::after {
	 transform: scaleY(1);
}

/*carte 2*/
.card3::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-image: url(images/canada/niagarajpg.jpg);
    z-index: 10;
    transition: transform 0.3s;
}
.card3:hover::after {
	 transform: scaleY(1);
}

/*carte 2*/
.card4::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-image: url(images/canada/niagarajpg.jpg);
    z-index: 10;
    transition: transform 0.3s;
}
.card4:hover::after {
	 transform: scaleY(1);
}

/*carte 2*/
.card5::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-image: url(images/canada/niagarajpg.jpg);
    z-index: 10;
    transition: transform 0.3s;
}
.card5:hover::after {
	 transform: scaleY(1);
}

/*carte 2*/
.card6::after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background-image: url(images/canada/niagarajpg.jpg);
    z-index: 10;
    transition: transform 0.3s;
}
.card6:hover::after {
	 transform: scaleY(1);
}

/* annimation diapo */
.main-heading {
    opacity: 1;
    position: absolute;
    width: 50%;
    font-size: 3rem;
    z-index: 100;
    top: 2em;
    left: 2em;
    color: #FFFFFF;
  }
  /* BG SLIDESHOW CSS */
  .slideshow,
  .slideshow::after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0px;
  }
  .slideshow::after {
    content: '';
  /*  background: linear-gradient(-70deg, rgba(0,0,0,0), rgba(0,0,0,1));*/
  }
  .img-bg-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent; /*hides span's text*/
    background-size: cover; /* covers whole viewport */
    background-position: 100% 100%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: backgroundSlideshow 60s linear infinite 0s;
  }
  .slideshow li:nth-child(1) .img-bg-slide {
     background-image: url('../images/canada/niagara\ hiver.jpg');
    }
  .slideshow li:nth-child(2) .img-bg-slide { 
      background-image: url('../images/canada/calgary.jpg');
      animation-delay: 25s; 
  }
  .slideshow li:nth-child(3) .img-bg-slide { 
      background-image: url('../images/canada/auroreboreale.jpg');
      animation-delay: 25s; 
  }
  .slideshow li:nth-child(4) .img-bg-slide { 
      background-image: url('../images/canada/quebec.JPEG');
      animation-delay: 25s; 
  }
  .slideshow li:nth-child(5) .img-bg-slide { 
    background-image: url('../images/canada/lac\ louise.jpg');
    animation-delay: 25s; 
}
.slideshow li:nth-child(6) .img-bg-slide { 
    background-image: url('../images/canada/montreal_quebec-Canada_travel_landscape_photography_wallpaper_2560x1600.jpg');
    animation-delay: 25s; 
}
  @keyframes backgroundSlideshow {
    0% { opacity: 0;}
    12.5% { opacity: 1;}
    25% { opacity: 1;}
    37.5% { opacity: 0;}
    100% { opacity: 0;} 
  }

  /* fin annimation diapo*/

   /* footer responsive */

.index__footer img{
        width: 16px;
        height: 16px;
    }
    .index__footer > ul a:hover{
        transform: none;
    }
    .index__footer ul{
        margin-top: 5%;
        margin-right: 5%;
    }
    .index__footer ul a{
        margin-left: 0%;
    }

}


/* footer */
   footer{
    background-color: #ffffff;
    padding: 2% 2% 1% 2%;
    position: sticky;
}
.index__footer{
    display: flex;
    justify-content: space-around;
    border: rgb(255, 0, 0) 2px solid;
    
}
footer nav{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;

}
footer nav a{
    text-decoration: none;
    font-size: 140%;
}
.index__footer ul{
    display: flex;
    margin-top: 5%;
}
.index__footer ul a{
    margin-left: 20%;
}
.index__footer img{
    justify-content: center;
    width: 32px;
    height: 32px;
}

.index__footer > ul a:hover{
    transform: scale(2);
}
   /* ordre z-index */
  #slideshow
{
  z-index: 1;
}

#h1
{
  z-index: 10;
}

#img-bg-slide
{
  z-index: 10;
}
header
{
  z-index: 10;
}

footer
{
  z-index: 10;
}

main
{
 position: sticky;
}
